@import "geral.css";
@import "modal.css";
@import "Tolltip.css";
@import "DropDownMenu.css";
@import "menuMobile.css";
@import "numeros.css";
@import "style-Slide.css";

.ShowSenha{
    background-color: black;
}

.ShowSenha input{
    position: relative;
    top: 36px;
    right: 42px;
}